<html>
<head>
	<title>About - My Rails Adventures</title>
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/styles.css">
</head>
<body>

	<nav>
		<ul>
			<li> <a href="ilovetocode">Home</a></li>
			<li> <a href="about">About </a></li>
		</ul>
	</nav>
	<div class="hero">
		<h1> Let me tell you about me... </h1>
		<p> I thought Ruby was cool, but rails is even cooler! </p> 
	</div> 
	<div class="main">
	<p> Let's see what else this does </p> 
	</div>
	<div class="image-section">
		<img src="https://cdn-images-1.medium.com/fit/t/1200/504/0*n-2bW82Z6m6U2bij.jpeg" alt="picture">
	</div>

	<div class="button-section">
		<button><a href="ilovetocode">Go Home</a></button>
	</div>

</body>
</html>