<html>
<head>
	<title>I Love To Code</title>
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/styles.css">
</head>
<body>
	<nav>
		<ul>
			<li> <a href="ilovetocode">Home</a></li>
			<li> <a href="about">About </a></li>
		</ul>
	</nav>

	<div class="hero">
		<h1> Hi Friends, I love to code! </h1>
		<p> I thought Ruby was cool, but rails is even cooler! </p> 
	</div>
	<div class="main">
		<p> Let's see what else this does </p> 
	</div>
	<div class="image-section">
		<img src="https://s-media-cache-ak0.pinimg.com/736x/e0/8d/a4/e08da471ca6183425027d1b61020b2fb.jpg" alt="code">
	</div>
	<div class="button-section">
		<button><a href="about">Learn More</a></button>
	</div>

</body>
</html>